{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{user.username}}!<br>
    <hr>
    Welcome to FreePost. What's on your mind today? Or wanna check other's posts?<br>
    <a href="{% url 'article_list' %}">Watch other's Post</a>
    <hr>
    Leaving so soon?
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in!</p>
    <a href="{% url 'login' %}">Login</a>¦
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}
{% endblock content %}
